{
  "openapi": "3.1.0",
  "info": {
    "title": "SpawnForge REST API",
    "version": "1.0.0",
    "description": "REST API for SpawnForge — the AI-powered browser-based game creation platform.\n\nAll endpoints require a valid Clerk session cookie unless otherwise noted. Endpoints that consume AI tokens will return HTTP 402 when the user's token balance is insufficient.\n\n**Rate limits:**\n- `/api/chat`: 10 requests per minute per user\n- `/api/generate/refund`: 3 requests per minute per user\n\n**Token tiers:** `starter` | `hobbyist` | `creator` | `pro`"
  },
  "servers": [
    {
      "url": "https://spawnforge.ai",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "components": {
    "securitySchemes": {
      "ClerkSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__session",
        "description": "Clerk authentication session cookie. Required for all authenticated endpoints."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "sceneData": {
            "type": "object",
            "description": "Serialized .forge scene format"
          },
          "thumbnail": {
            "type": "string",
            "nullable": true,
            "description": "Base64 or URL thumbnail"
          },
          "entityCount": {
            "type": "integer",
            "minimum": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProjectSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Publication": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string",
            "example": "my-awesome-game"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "published",
              "unpublished"
            ]
          },
          "version": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "example": "/play/user_xxx/my-awesome-game"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GameSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "slug": {
            "type": "string"
          },
          "authorId": {
            "type": "string"
          },
          "authorName": {
            "type": "string"
          },
          "playCount": {
            "type": "integer"
          },
          "likeCount": {
            "type": "integer"
          },
          "avgRating": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 5
          },
          "ratingCount": {
            "type": "integer"
          },
          "commentCount": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "thumbnail": {
            "type": "string",
            "nullable": true
          },
          "cdnUrl": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "content": {
            "type": "string"
          },
          "parentId": {
            "type": "string",
            "nullable": true
          },
          "authorId": {
            "type": "string",
            "nullable": true
          },
          "authorName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MarketplaceAsset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "model_3d",
              "sprite",
              "texture",
              "audio",
              "script",
              "prefab",
              "template",
              "shader",
              "animation"
            ]
          },
          "priceTokens": {
            "type": "integer",
            "minimum": 0
          },
          "license": {
            "type": "string"
          },
          "previewUrl": {
            "type": "string",
            "nullable": true
          },
          "downloadCount": {
            "type": "integer"
          },
          "avgRating": {
            "type": "number",
            "format": "float"
          },
          "ratingCount": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aiGenerated": {
            "type": "boolean"
          },
          "sellerName": {
            "type": "string"
          },
          "sellerId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GenerationJob": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "estimatedSeconds": {
            "type": "integer"
          }
        }
      },
      "GenerationStatus": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "progress": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "resultUrl": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "TokenBalance": {
        "type": "object",
        "properties": {
          "monthlyTokens": {
            "type": "integer"
          },
          "monthlyTokensUsed": {
            "type": "integer"
          },
          "monthlyTokensRemaining": {
            "type": "integer"
          },
          "addonTokens": {
            "type": "integer"
          },
          "earnedCredits": {
            "type": "integer"
          }
        }
      },
      "ApiKeyRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string",
            "example": "forge_a1b2"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "scene:read",
                "scene:write",
                "ai:generate",
                "project:manage"
              ]
            }
          },
          "lastUsed": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SellerProfile": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "bio": {
            "type": "string",
            "nullable": true
          },
          "portfolioUrl": {
            "type": "string",
            "nullable": true
          },
          "totalEarnings": {
            "type": "integer"
          },
          "totalSales": {
            "type": "integer"
          },
          "approved": {
            "type": "boolean"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid session",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Unauthorized"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient tier or permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "This feature requires Creator or Pro tier."
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Project not found"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Insufficient token balance or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "string",
                  "example": "INSUFFICIENT_TOKENS"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "System",
      "description": "System health and status endpoints"
    },
    {
      "name": "Projects",
      "description": "CRUD for game projects"
    },
    {
      "name": "Chat",
      "description": "Streaming AI assistant (Anthropic Claude)"
    },
    {
      "name": "Billing",
      "description": "Stripe subscription management"
    },
    {
      "name": "Tokens",
      "description": "Token balance, usage history, and top-up packages"
    },
    {
      "name": "Publishing",
      "description": "Publish games to shareable URLs"
    },
    {
      "name": "Community",
      "description": "Public game gallery, likes, ratings, comments, and forks"
    },
    {
      "name": "Marketplace",
      "description": "Asset marketplace — browse, purchase, and sell assets"
    },
    {
      "name": "Asset Generation",
      "description": "AI-powered generation of 3D models, textures, audio, sprites, and skyboxes"
    },
    {
      "name": "Keys",
      "description": "BYOK provider keys and MCP API keys"
    },
    {
      "name": "Documentation",
      "description": "In-editor documentation content"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Unauthenticated health check endpoint for monitoring.",
        "security": [],
        "responses": {
          "200": {
            "description": "Application is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "environment",
                    "commit",
                    "timestamp"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "error"
                      ]
                    },
                    "environment": {
                      "type": "string"
                    },
                    "commit": {
                      "type": "string"
                    },
                    "branch": {
                      "type": "string"
                    },
                    "database": {
                      "type": "string",
                      "enum": [
                        "connected",
                        "not_configured",
                        "unavailable"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "overall": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "services": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "healthy",
                              "degraded",
                              "down"
                            ]
                          },
                          "latencyMs": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Critical service failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List projects",
        "description": "Returns all projects owned by the authenticated user.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Array of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create project",
        "description": "Creates a new game project. Returns HTTP 403 with error code `PROJECT_LIMIT` when the user has reached their tier's project limit.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "sceneData"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sceneData": {
                    "type": "object",
                    "description": "Initial .forge scene JSON"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectSummary"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid fields"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Project limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "PROJECT_LIMIT"
                    },
                    "message": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Full project with scene data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Update project",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "sceneData": {
                    "type": "object"
                  },
                  "thumbnail": {
                    "type": "string",
                    "nullable": true
                  },
                  "entityCount": {
                    "type": "integer",
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete project",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/chat": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "AI assistant (streaming SSE)",
        "description": "Sends messages to the Claude AI assistant and receives a Server-Sent Events (SSE) stream. The stream emits JSON objects of various types:\n\n- `{ type: 'text_start' }` — text block opening\n- `{ type: 'text_delta', text: string }` — incremental text\n- `{ type: 'tool_start', id, name, input }` — tool call opening\n- `{ type: 'tool_input_delta', json }` — partial tool JSON\n- `{ type: 'thinking_start' }` / `{ type: 'thinking_delta', text }` — extended thinking (when `thinking: true`)\n- `{ type: 'content_block_stop', index }` — block closed\n- `{ type: 'usage', inputTokens?, outputTokens? }` — token usage\n- `{ type: 'turn_complete', stop_reason }` — stream finished\n- `{ type: 'error', message }` — error\n\n**Rate limit:** 10 requests per minute. **Max body:** 10 KB. **Max message length:** 4000 characters.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messages"
                ],
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "Conversation history in Anthropic message format",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "description": "String for text messages, or array of content blocks for tool results",
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "model": {
                    "type": "string",
                    "description": "Claude model ID",
                    "example": "claude-sonnet-4-5-20250929"
                  },
                  "sceneContext": {
                    "type": "string",
                    "description": "Current scene state serialized as text (appended to system prompt)"
                  },
                  "thinking": {
                    "type": "boolean",
                    "description": "Enable extended thinking mode (increases max_tokens to 16384)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream. Content-Type: text/event-stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON, missing messages, message too long, or suspicious content detected"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "413": {
            "description": "Request body exceeds 10 KB limit"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/billing/checkout": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create Stripe checkout session",
        "description": "Creates a Stripe Checkout session for upgrading the user's subscription tier. Redirects to `success_url` (`/dashboard?upgraded=true`) on success.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tier"
                ],
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": [
                      "hobbyist",
                      "creator",
                      "pro"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stripe Checkout URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Stripe hosted checkout URL"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid tier"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/billing/portal": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create Stripe billing portal session",
        "description": "Opens the Stripe customer portal for managing subscriptions and payment methods. Returns HTTP 400 if the user has no Stripe customer record.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Stripe portal URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No Stripe customer found"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/billing/status": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get billing status",
        "description": "Returns the current subscription tier and billing cycle details for the authenticated user.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Billing status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string",
                      "enum": [
                        "starter",
                        "hobbyist",
                        "creator",
                        "pro"
                      ]
                    },
                    "stripeCustomerId": {
                      "type": "string",
                      "nullable": true
                    },
                    "stripeSubscriptionId": {
                      "type": "string",
                      "nullable": true
                    },
                    "billingCycleStart": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "nextRefillDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/tokens/balance": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "summary": "Get token balance",
        "description": "Returns the full token balance breakdown for the authenticated user.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenBalance"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/tokens/usage": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "summary": "Get usage history",
        "description": "Returns token usage history. Defaults to 30 days; capped at 90 days.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Number of days of history to return (max 90, default 30)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usage": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionType": {
                            "type": "string"
                          },
                          "tokensCharged": {
                            "type": "integer"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/tokens/purchase": {
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Purchase token top-up package",
        "description": "Creates a Stripe one-time payment session for a token add-on package. Only available to paid tiers (hobbyist, creator, pro). Available packages: `spark`, `blaze`, `inferno`.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "package"
                ],
                "properties": {
                  "package": {
                    "type": "string",
                    "enum": [
                      "spark",
                      "blaze",
                      "inferno"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stripe checkout URL for one-time payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkoutUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid package"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/publish": {
      "post": {
        "tags": [
          "Publishing"
        ],
        "summary": "Publish or republish a game",
        "description": "Publishes a project under a URL slug. If the slug already exists for this user, increments the version. Returns HTTP 403 when the user has reached their tier's publish limit.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "projectId",
                  "title",
                  "slug"
                ],
                "properties": {
                  "projectId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 50,
                    "pattern": "^[a-z0-9][a-z0-9-]*[a-z0-9]$",
                    "description": "URL-safe identifier. Lowercase alphanumeric and hyphens only."
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Publication record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publication": {
                      "$ref": "#/components/schemas/Publication"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields or invalid slug format"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Publish limit reached for tier"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/publish/list": {
      "get": {
        "tags": [
          "Publishing"
        ],
        "summary": "List own publications",
        "description": "Returns all publications (published and unpublished) for the authenticated user, ordered by most recently updated.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of publications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publications": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Publication"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/publish/check-slug": {
      "get": {
        "tags": [
          "Publishing"
        ],
        "summary": "Check slug availability",
        "description": "Checks whether a slug is available for the authenticated user (slugs are scoped per-user, not globally).",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/publish/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "delete": {
        "tags": [
          "Publishing"
        ],
        "summary": "Unpublish a game",
        "description": "Sets the publication status to `unpublished`. The record is retained.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/community/games": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Browse community games",
        "description": "Returns published games with aggregated stats. No authentication required.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Full-text search query (matches title and description)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "trending",
                "newest",
                "top_rated",
                "most_played"
              ],
              "default": "trending"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "games": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GameSummary"
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/community/games/featured": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Get featured games",
        "description": "Returns up to 5 editorially featured games. No authentication required.",
        "responses": {
          "200": {
            "description": "Featured games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "games": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GameSummary"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/community/games/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Get game details",
        "description": "Returns full game details including tags, comments, and a rating breakdown by star value. No authentication required.",
        "responses": {
          "200": {
            "description": "Game detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "game": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/GameSummary"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "enum": [
                                "published",
                                "unpublished"
                              ]
                            },
                            "ratingBreakdown": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "rating": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "maximum": 5
                                  },
                                  "count": {
                                    "type": "integer"
                                  }
                                }
                              }
                            },
                            "comments": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Comment"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/community/games/{id}/comment": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Get comments for a game",
        "description": "Returns all non-flagged comments. No authentication required.",
        "responses": {
          "200": {
            "description": "Comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Post a comment",
        "description": "Posts a comment on a game. Content is stripped of HTML and capped at 1000 characters.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "parentId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Parent comment ID for replies"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment": {
                      "$ref": "#/components/schemas/Comment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Empty or missing content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/community/games/{id}/like": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Like a game",
        "description": "Adds a like. Idempotent — returns current count if already liked.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Like status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "liked": {
                      "type": "boolean"
                    },
                    "likeCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Community"
        ],
        "summary": "Unlike a game",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Unlike status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "liked": {
                      "type": "boolean"
                    },
                    "likeCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/community/games/{id}/rate": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Rate a game",
        "description": "Submits or updates a 1–5 star rating. One rating per user per game.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rating"
                ],
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "avgRating": {
                      "type": "number",
                      "format": "float"
                    },
                    "ratingCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Rating out of range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/community/games/{id}/fork": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Fork a game",
        "description": "Copies a published game's project into the authenticated user's account. Returns HTTP 403 if the user has reached their tier's project limit.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "201": {
            "description": "New project ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Project limit reached"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/community/tags": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Get popular tags",
        "description": "Returns the top 20 most-used tags across all published games. No authentication required.",
        "responses": {
          "200": {
            "description": "Tag list with counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tag": {
                            "type": "string"
                          },
                          "count": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/marketplace/assets": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Browse marketplace assets",
        "description": "Returns published assets with seller info. No authentication required.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query (name, description, or tags)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "model_3d",
                "sprite",
                "texture",
                "audio",
                "script",
                "prefab",
                "template",
                "shader",
                "animation"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "popular",
                "top_rated",
                "price_low",
                "price_high",
                "free"
              ],
              "default": "popular"
            }
          },
          {
            "name": "price",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "free",
                "paid"
              ],
              "default": "all"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assets page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketplaceAsset"
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/marketplace/assets/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Get asset details",
        "description": "Returns full asset details including seller profile and up to 10 recent reviews. No authentication required.",
        "responses": {
          "200": {
            "description": "Asset with reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "asset": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/MarketplaceAsset"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "assetFileSize": {
                              "type": "integer",
                              "nullable": true
                            },
                            "aiProvider": {
                              "type": "string",
                              "nullable": true
                            },
                            "metadata": {
                              "type": "object",
                              "nullable": true
                            },
                            "seller": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "bio": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "portfolioUrl": {
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            }
                          }
                        }
                      ]
                    },
                    "reviews": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "rating": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 5
                          },
                          "content": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userName": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/marketplace/assets/{id}/purchase": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Purchase an asset",
        "description": "Deducts tokens from the buyer and credits the seller (70/30 split). Free assets are recorded without token deduction. Tokens are consumed in order: earned credits first, then add-on tokens, then monthly allocation.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "downloadUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "tokensCharged": {
                      "type": "integer"
                    },
                    "sellerEarnings": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Already purchased, asset unavailable, or self-purchase"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Token balance changed concurrently — retry the request"
          }
        }
      }
    },
    "/api/marketplace/assets/{id}/download": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Download a purchased asset",
        "description": "Redirects to the asset file CDN URL. Requires the authenticated user to have purchased the asset or to be the seller.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to asset file URL"
          },
          "400": {
            "description": "Invalid or disallowed file URL"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not authorized — asset not purchased"
          },
          "404": {
            "description": "Asset not found or no file available"
          }
        }
      }
    },
    "/api/marketplace/assets/{id}/review": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Submit or update a review",
        "description": "Posts a review for a purchased asset. Requires the user to have purchased the asset. One review per user per asset — submitting again updates the existing review.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rating"
                ],
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "content": {
                    "type": "string",
                    "description": "Optional review text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Review submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Rating out of range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Must purchase asset before reviewing"
          }
        }
      }
    },
    "/api/marketplace/purchases": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "List purchased asset IDs",
        "description": "Returns the IDs of all assets the authenticated user has purchased.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Purchased asset IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assetIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/marketplace/seller": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Get seller profile",
        "description": "Returns the authenticated user's seller profile, or `{ profile: null }` if not registered as a seller.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Seller profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profile": {
                      "nullable": true,
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/SellerProfile"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Create or update seller profile",
        "description": "Registers or updates the authenticated user's seller profile. New profiles are created with `approved: false` pending admin review.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "displayName"
                ],
                "properties": {
                  "displayName": {
                    "type": "string",
                    "minLength": 2
                  },
                  "bio": {
                    "type": "string"
                  },
                  "portfolioUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Display name too short"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/marketplace/seller/assets": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "List seller's own assets",
        "description": "Returns all assets the authenticated user has listed as a seller, including draft/pending/rejected status.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Seller assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketplaceAsset"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Create a new asset listing",
        "description": "Creates a new asset listing in `draft` status. Use PATCH to submit for review.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "description",
                  "category"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "model_3d",
                      "sprite",
                      "texture",
                      "audio",
                      "script",
                      "prefab",
                      "template",
                      "shader",
                      "animation"
                    ]
                  },
                  "priceTokens": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 0
                  },
                  "license": {
                    "type": "string",
                    "default": "standard"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created asset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "asset": {
                      "$ref": "#/components/schemas/MarketplaceAsset"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/marketplace/seller/assets/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "patch": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Update seller asset",
        "description": "Updates a seller's own asset listing. Status transitions: `draft` → `pending_review`, `pending_review` → `draft`, `rejected` → `pending_review` or `draft`. Publishing requires admin approval.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "priceTokens": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "license": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_review"
                    ],
                    "description": "Sellers may only move to draft or pending_review"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status transition"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/generate/model": {
      "post": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Generate 3D model",
        "description": "Starts an async 3D model generation job via Meshy. Returns a `jobId` to poll at `/api/generate/model/status`.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt",
                  "mode"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "text-to-3d",
                      "image-to-3d"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "high"
                    ],
                    "default": "standard"
                  },
                  "imageBase64": {
                    "type": "string",
                    "description": "Required when mode is image-to-3d"
                  },
                  "artStyle": {
                    "type": "string"
                  },
                  "negativePrompt": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "description": "Validation error (prompt length, missing imageBase64)"
          }
        }
      }
    },
    "/api/generate/model/status": {
      "get": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Poll 3D model generation status",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenerationStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "thumbnailUrl": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing jobId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/generate/texture": {
      "post": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Generate texture",
        "description": "Starts an async texture generation job via Meshy. Returns a `jobId` to poll at `/api/generate/texture/status`.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "1024",
                      "2048"
                    ],
                    "default": "1024"
                  },
                  "style": {
                    "type": "string",
                    "enum": [
                      "realistic",
                      "stylized",
                      "cartoon"
                    ],
                    "default": "realistic"
                  },
                  "tiling": {
                    "type": "boolean",
                    "default": true
                  },
                  "entityId": {
                    "type": "string",
                    "description": "Optional entity ID for context"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "description": "Prompt validation error"
          }
        }
      }
    },
    "/api/generate/texture/status": {
      "get": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Poll texture generation status",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status with texture maps",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenerationStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "maps": {
                          "type": "object",
                          "description": "Texture map URLs keyed by map type (albedo, normal, roughness, etc.)",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing jobId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/generate/sfx": {
      "post": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Generate sound effect",
        "description": "Synchronous — returns audio data immediately (no polling required). Uses ElevenLabs.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "durationSeconds": {
                    "type": "number",
                    "minimum": 0.5,
                    "maximum": 22,
                    "default": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated audio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "audioBase64": {
                      "type": "string",
                      "description": "Base64-encoded MP3 audio data"
                    },
                    "durationSeconds": {
                      "type": "number"
                    },
                    "provider": {
                      "type": "string",
                      "example": "elevenlabs"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/generate/voice": {
      "post": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Generate voice audio",
        "description": "Synchronous text-to-speech via ElevenLabs. Returns audio immediately.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "voiceId": {
                    "type": "string",
                    "description": "ElevenLabs voice ID"
                  },
                  "stability": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "similarityBoost": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "style": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated voice audio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "audioBase64": {
                      "type": "string"
                    },
                    "durationSeconds": {
                      "type": "number"
                    },
                    "provider": {
                      "type": "string",
                      "example": "elevenlabs"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "description": "Text validation error"
          }
        }
      }
    },
    "/api/generate/music": {
      "post": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Generate background music",
        "description": "Starts an async music generation job via Suno. Returns a `jobId` to poll at `/api/generate/music/status`.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "durationSeconds": {
                    "type": "integer",
                    "minimum": 15,
                    "maximum": 120,
                    "default": 30
                  },
                  "instrumental": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/generate/music/status": {
      "get": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Poll music generation status",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenerationStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "durationSeconds": {
                          "type": "number",
                          "nullable": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing jobId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/generate/skybox": {
      "post": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Generate skybox",
        "description": "Generates an equirectangular panoramic skybox image via Meshy. Returns a `jobId` to poll at `/api/generate/skybox/status`.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "style": {
                    "type": "string",
                    "enum": [
                      "realistic",
                      "fantasy",
                      "sci-fi",
                      "cartoon"
                    ],
                    "default": "realistic"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "description": "Prompt validation error"
          }
        }
      }
    },
    "/api/generate/skybox/status": {
      "get": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Poll skybox generation status",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status with equirectangular image URL in resultUrl",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationStatus"
                }
              }
            }
          },
          "400": {
            "description": "Missing jobId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/generate/sprite": {
      "post": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Generate sprite",
        "description": "Starts a sprite generation job. Provider auto-selects DALL-E 3 for photorealistic styles and Replicate/SDXL for pixel-art. Returns a `jobId` to poll at `/api/generate/sprite/status`.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "style": {
                    "type": "string",
                    "enum": [
                      "pixel-art",
                      "hand-drawn",
                      "vector",
                      "realistic"
                    ]
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "32x32",
                      "64x64",
                      "128x128",
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ],
                    "default": "64x64"
                  },
                  "provider": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "dalle3",
                      "sdxl"
                    ],
                    "default": "auto"
                  },
                  "removeBackground": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "description": "Prompt validation error"
          }
        }
      }
    },
    "/api/generate/sprite/status": {
      "get": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Poll sprite generation status",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationStatus"
                }
              }
            }
          },
          "400": {
            "description": "Missing jobId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/generate/sprite-sheet": {
      "post": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Generate sprite sheet",
        "description": "Generates an animation sprite sheet from a source sprite asset using Replicate/ControlNet. Token cost scales with frame count (15 tokens per frame).",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sourceAssetId"
                ],
                "properties": {
                  "sourceAssetId": {
                    "type": "string",
                    "description": "Asset ID of the source sprite"
                  },
                  "frameCount": {
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 8,
                    "default": 4
                  },
                  "style": {
                    "type": "string",
                    "enum": [
                      "pixel-art",
                      "hand-drawn",
                      "vector",
                      "realistic"
                    ]
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "32x32",
                      "64x64",
                      "128x128",
                      "256x256"
                    ],
                    "default": "64x64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/generate/tileset-gen": {
      "post": {
        "tags": [
          "Asset Generation"
        ],
        "summary": "Generate tileset",
        "description": "Generates a tiling game tileset using Replicate. Fixed cost of 50 tokens.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
[...]
